.thumbnails{
    justify-content: center;
}
.infomation-me{
    position: relative;
    background: #ffffff;
    padding: 30px;
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    text-align: center;
    right: 0px;
}

.infomation-me h1{
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}
.infomation-me h5{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
}
.infomation-me div{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
/* .title-home-page{
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}
.sub-title-homepage{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
} */
.btn-more{
    color: #ffffff;
    border-color: #151515;
    border-radius: 0px;
    background-color: #151515;
    box-shadow: none;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
    display: inline-block;
    padding: 10px 30px;
    margin: 8px 8px 0 0;
    cursor: pointer;
    border: 2px solid #151515;
}
.card-me{
    max-width: calc(1260px + 40px + 40px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
}
.card-me img{
    width: 100%;
}
.title-FAQ{

}
.thumbnails{
    display: none !important;
}
.products{
    text-align: center;
    margin-top: 50px;
}
.products > h1{
    font-size: 28px;
    line-height: 1.41;
    font-weight: 500;
    margin-bottom: 8px;
}
.products > h5{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
    text-align: center;
}
.products >div{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.product-item >img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px rgb(0 0 0 / 8%)
}
.earth-component{
    display: flex;
    position: relative;
}
.earth-component > picture{
    position: relative;
}
.earth-component >div{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.earth-component h1{
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}
.earth-content{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
}

.row-flex{
    display: flex;
    gap: 20px;
    align-items: center;
}
.row-flex h1{
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.row-flex img{
    width: 100%;
}
@media screen and (min-width: 768px){
    .infomation-me{
        padding: 30px;
        padding-top: 80px;
        padding-right: 80px;
        padding-bottom: 80px;
        padding-left: 80px;
        width: 50%;
        right: 50px;
    }
    .card-me{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .card-me img{
        width: 50%;
    }
    .title-FAQ{
        display: flex;
    }
}
